[run]
source = {{project_name}}
omit = {{project_name}}/placeholder.py
relative_files = True

[report]
omit =
  tests/data/*
  */site-packages/*
  .tox/*
exclude_lines =
  pragma: no cover
  torch.jit.script
  raise
  except
