
{{official_name}} Documentation
########################

Welcome to the project.

Sections
********

.. toctree::
   :maxdepth: 1

   docs/src/get_started.rst
   docs/src/installation_guide.rst
   docs/src/user_guide.rst
   docs/src/examples_readme.rst
   docs/src/api-doc/apis.rst
   docs/src/SECURITY.rst
   Repo <https://github.com/AlanSynn/{{project_name}}>
